.card {
  background-color: #ccc;
  float: left;
  position: sticky;
  margin-left: 45%;
  margin-top: -10%;
  margin-bottom: 10px;
  z-index: 1000;
  padding: 5px;
  font-weight: bold;
}
.img_shape {
  width: 100%;
}
.img_shape img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 70%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 70%, 100% 0);
}
