form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 5rem;
}
.detail_container {
  text-align: left;
}
.submit_container button {
  background-color: brown;
  border-radius: 15px;
  border-color: transparent;
  min-width: 100px;
  max-width: 150px;
  margin: 5px;
  color: white;
  padding: 3px;
}
.submit_container input {
  max-width: 50px;
  margin: 0px 5px 5px 5px;
  border-radius: 4px;
  border-color: rgb(236, 236, 236);
}
.submit_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ingredients {
  margin: 0.2rem;
  font-style: italic;
}
.detail_container h3 {
  margin: 0%;
}
.price {
  margin: 0.2rem;
  color: brown;
  font-weight: 700;
}
.amount_container {
  display: flex;
  justify-content: flex-start;
}
